*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;

    }
    @font-face {
        font-family: Gothics;
        src: url(/FONT/Gothic/Gothic.otf);
    }
    /* body{
        width: 100%;
        height: max-content;
        background-image: url(INTRO_009.png);
        object-fit: cover;
        background-repeat: no-repeat;
    } */
    .cont{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 1% auto;
        color: rgb(67, 241, 67);
        gap: .5em;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-family: Gothics;
        font-size: xx-large;
        color: rgb(233, 33, 57);
        word-spacing: 15%;
    }
    .cont > h1{
        margin-top: 1%;
        color: rgb(204, 199, 199);
        font-family: Gothics;
        word-spacing: .3em;
        font-size: 37px;
    }
    hr{
        border: none;
        border-style: dotted;
        border-color:rgb(167, 47, 7) ;
        color: #1ab6f9;
    }
    .cont>img{
        width:max-content;
        aspect-ratio: 16/9;
        border-radius: .9em;
        /* transform: scale(1,1); */
        object-fit: cover;
        filter: brightness(55%);
        /* filter: blur(.5em); */
    }
    .cont>p:nth-child(1) {
        color: rgb(40, 222, 40);
    }


    
