@keyframes hs
{
from{opacity:2;}
to{opacity:0.5;
visibility:hidden}
}
#SI{
opacity:1;
}
#SS
{
width:400px;
height:300px;
background-color:transperent;
border:1px solid #000; 
position:absolute;
}
#S1,#S2,#S4,#S3,#S5,#S6,#S7,#S8,#S9,#S10,#S11,#S12,#S13,#S14,#S15,#S16,#S17,#S18,#S19,#S20,#S21,#S22,#S23{
background-color:#ddd;
width:400px;
height:300px;
border:1px solid #BBB;
animation:hs 4s 3;
position:relative;
display:none;
}
#b{
height:30px;
margin-top:15% auto;
bottom:2px;
border:none;
border-radius:50%;
background-color:#000;
opacity:0.8;
color:#FFF;
font-size:20px;
position:relative;
}
#Dr{
align:center;
bottom:-15%;
position:absolute;
}
#b:hover{color:#DDD; background-color:#CCC;}
