*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
    color: white;
}
:root{
    --val:.3em;
    --pad:0.7em;
    --mw:150px;
    --dpl:flex;
    --row:row;
    --col:column;
    --cen:center;
    --sar:space-around;


}
body{
    background-color: #000;
}
.info{
    display: var(--dpl);
    margin: var(--val);
    max-width: var(--mw);
    padding: var(--pad);
    margin-bottom: 3%;
    height: fit-content;
    flex-direction: var(--col);
    justify-content: var(--sar);
    align-content: var(--sar);
    border:3px solid #2f2626;
    border-radius: var(--val);
    /* overflow: hidden; */
    word-wrap: break-word;
    /* text-overflow: ellipsis; */
    float: right;
    z-index: 3;
}
#bat{
    margin-top: var(--pad);
    width:auto;
    text-align: var(--cen);
    height: 30px;
    color: #120929;
    border: 3px solid #ddd;
    border-radius: var(--val);
    background-color: rgb(20, 238, 20);
}
/* #bat::after{
    content: ⚡;

} */
.hide{
    display: none;
}
#into{
    text-align: end;
    position: relative;
    cursor: pointer;
    right:0;
    font-size: 15px;
    color: red;

}
