.labimage {
    display: inline-block;
    animation: bounceUp 1s ease-in-out;
  }
@keyframes bounceUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
    70% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fade-in-up 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fade-in-up {
    0% {
        opacity: 0.5;
        transform: translateY(200px);
    }
    50% {
      opacity: 0.8;
      transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


  